.App{
  min-height: 120vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgray;
}

#editor, #preview {
  background-color: lightcoral;
}

#editor{
  width: 60vmin;
  height: 30vh;
  resize: vertical;
}

#preview{
  width: 70vmin;
  height: auto;
  min-height: 30vh;
  margin-top: 0px;
  padding: 1vw;
  position: relative;
  font-size: 1.5vmax;
}

#preview code{
  background-color: white;
}

#preview pre{
  background-color: white;
}

#editorheader, #previewheader{
  background-color: maroon;
  padding: 5px;
  padding-left: 1vw;
  padding-right: 2vw;
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  height: 4vh;
  border-radius: 2px;
}

.icon:hover{
  color: yellow;
  cursor: pointer;
}

.previewcontainer{
  background-color: lightcoral;
  margin: 1vmin;
}

.editorcontainer{
  margin: 1vmin;
  margin-top: 2vh;
}
